<!-- Portfolio Section -->
<div class="row" id="voter">
    <div class="col-lg-12">
        <h2 class="page-header">Voter</h2>
    </div>

    <ul>
        {% for category in categories %}
        <!--<div class="col-md-4 col-sm-6">-->
            <li><a href="{{ path('vote_new', {'id' : category.id}) }}">{{ category.name }}</a></li>
            <!--<img class="img-responsive img-portfolio img-hover" width="350" src="{{ asset('bundles/app/images/' ~ category.imagePath) }}" alt="">-->
        <!--</div>-->
        {% endfor %}
    </ul>
</div>
<!-- /.row -->